<div class="wrapper">
  <h2 class="title">Add New Column</h2>
  <div class="form-field-container">
    <mat-form-field class="mat-form-field">
      <input matInput placeholder="Column Name" [(ngModel)]="columnName">
    </mat-form-field>
  </div>
  <div class="actions">
    <mat-dialog-actions>
      <button mat-button (click)="onCancel()" class="buttons">Cancel</button>
      <button mat-button [mat-dialog-close]="{ columnName: columnName }" cdkFocusInitial class="buttons">Add</button>
    </mat-dialog-actions>
  </div>
</div>