<div class="root">
  <div class="navbar hasBackgroundDark">
    <div class="navbarBrand">
      <div class="navbarItem">
        <h1 class="appName hasGradientText">kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="boardBar">
      <p class="boardName">{{ board.name }}</p>
      <button class="newBoardB" (click)="addColumn()">Add Column</button>
      <button class="delBoardB" (click)="deleteColumn()">Remove Column</button>
    </div>

    <div class="boardWrapper">
      <div class="boardColumns" cdkDropListGroup>
        <div class="boardColumn" *ngFor="let column of board.columns">
          <div class="columnTitle">
            {{ column.name }}
          </div>
          <button
            class="newBoardNameB"
            (click)="changeNameColumn(column)"
          ></button>
          <button class="newItemB" (click)="addItem(column)">Add Item</button>

          <div
            class="taskContainer"
            cdkDropList
            [cdkDropListData]="column.task"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="task"
              *ngFor="let item of column.task"
              cdkDrag
              (click)="changeItem(item, column)"
            >
              {{ item }}
              <div
                class="x-icon-button"
                (click)="onXButtonClick(item, column)"
              ></div>
              <div class="changeItem"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
