.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  @media only screen and (max-width: 1024px) {
    height: auto;
  }
  @media only screen and (max-width: 768px) {
    height: auto;
  }
}

.hasBackgroundDark {
  background-color: rgba(14, 14, 14, 0.7);
}

.appName {
  font-size: 20px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin-left: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}

.hasGradientText {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;

  .boardBar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    .boardName {
      font-size: 20px;
      font-weight: 500;
      color: white;
    }

    .newBoardB,
    .delBoardB {
      background-color: #3a3a3a86;
      border-radius: 6px;
      border-width: 0;
      color: #fff;
      cursor: pointer;
      font-size: 100%;
      height: 44px;
      margin-top: 5px;
      margin-bottom: 5px;
      outline: none;
      width: auto;
      text-transform: uppercase;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        text-shadow: black 2px 2px 2px;
        background-color: #1d1c1c86;
      }
    }

    .delBoardB {
      margin-left: 15px;
    }

    .newBoardB {
      margin-left: auto;
    }
  }

  .boardWrapper {
    align-items: center;
    justify-content: center;
    .boardColumns {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      padding: 15px;
      justify-content: center;

      @media only screen and (max-width: 1024px) {
        flex-wrap: wrap;
        gap: 60px;
        padding: 30px;
      }
      @media only screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .boardColumn {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        background: rgba(white, 0.5);
        border-radius: 4px;
        box-shadow: inset 0 -3em 3em rgba(222, 222, 222, 0.3), 0 0 0 0px white,
          0.3em 0.3em 1em rgba(0, 200, 60, 0.6);
        width: 100%;
        min-width: 230px;
        max-width: 400px;
        padding: 25px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        @media only screen and (max-width: 1024px) {
          min-width: 300px;
        }
        @media only screen and (max-width: 768px) {
          min-width: 300px;
          min-height: 450px;
        }

        .newItemB {
          position: absolute;
          right: 10px;
          margin-bottom: 24px;

          background-color: #3a3a3a86;
          border-radius: 4px;
          border-width: 0;
          color: #fff;
          cursor: pointer;
          font-size: 20px;
          font-weight: 200;
          outline: none;
          text-transform: uppercase;
          transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
          &:hover {
            text-shadow: black 2px 2px 2px;
            background-color: #1d1c1c86;
          }
          @media only screen and (max-width: 768px) {
            padding: 3px;
          }
        }

        .newBoardNameB {
          position: absolute;
          right: 130px;
          background-color: transparent;
          border: none;
          cursor: pointer;

          height: 23px;
          width: 23px;
          background-image: url("../../../assets/edit-pen-icon.svg");
          background-repeat: no-repeat;
          background-position: center;
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
          &:hover {
            transform: scale(1.2);
          }
        }

        .columnTitle {
          font-size: 20px;
          font-weight: 200;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          margin-bottom: 20px;
          max-width: 140px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          min-height: 30px;
        }

        .taskContainer {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          position: relative;
          min-height: 200px;

          .task {
            position: relative;
            display: flex;
            padding: 15px 12px;
            background: white;
            border-bottom: solid 1px #dddd;
            border-radius: 4px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
              0 3px 14px 2px rgba(0, 0, 0, 0.05);
            margin-bottom: 15px;
            cursor: grab;

            .taskItem {
              overflow: hidden;
              text-overflow: ellipsis;
              cursor: text;
            }
          }

          .x-icon-button {
            position: absolute;
            height: 34px;
            width: 34px;
            background: rgb(255, 98, 98);
            right: -14px;
            border-radius: 50%;
            top: -14px;
            background-image: url("../../../assets/delete_icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
              transform: scale(1.2);
              background-color: rgb(255, 81, 81);

              // background-image: url("../../../assets/delete_icon.svg");
              // background-repeat: no-repeat;
              // background-position: center;
            }
          }

          .changeItem {
            position: absolute;
            height: 30px;
            width: 30px;

            right: 27px;
            top: -14px;
            background-image: url("../../../assets/edit-pen-icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
